
body {
    background: #cdb4db;
    margin: 0;
    padding: 0;
    font-family: Cabin;

}

.dark-theme {
    --text-color: red;
    --background-color: #425DF8;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 145px;
}

.logo-images {
    display: flex;
    gap: 18px;
    align-items: center
}

.menu-try ul {

    text-decoration: none;
    display: flex;
    gap: 56px;
    align-items: center;


}

.menu-main {
    text-decoration: none;
}

.menu-names-list {
    list-style: none;
}

.menu-names {
    color: #0E0F13;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;

}

.pricing-menu {
    color: #ffd60a;
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}


.btn-for-registration {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #ffc8dd;
    text-align: center;
    font-family: Cabin;
    background: #ffafcc;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

}

.darkmode {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

}

.change-theme {
    color: black;
    border: 1px solid #edf2f4;
    background: #edf2f4;
}

.signup {
    color: black;
    border: 1px solid #669bbc;
    background: #669bbc;
}

/* .btn-for-registration2 {
    color: #F6FDFF;
    border: 1px solid #425DF8;
    background: #425DF8;


} */



.general-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    /* border: solid 1px black; */
}



.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}


.main-name-of-page {
    color: #0E0F13;
    font-family: Cabin;
    font-size: 64px;
    font-weight: 500;
    margin: 0 auto;
}

.free-trial-text {
    display: flex;
    color: #7F828A;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

/* .text-container1 {
    display: flex;
}

.text-container2 {
    display: flex;
}

.text-container3 {
    display: flex;
} */

.offers {
    width: 1296px;
}

.offer-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

/* .offer-card {
    display: flex;
} */

.offer-text-big {
    display: flex;
    color: #0E0F15;
    text-align: center;
    font-family: Cabin;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.offer-text-big-main {
    display: flex;
    color: #1a759f;
    font-family: Cabin;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.offer-text-descrpt {
    color: #7F828A;
    text-align: center;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
}

.offer-text-descrpt-main {
    color: #1a759f;
    text-align: center;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
}

.text-container1 {
    color: #F6FDFF;
    display: flex;
    width: 416px;
    height: 817px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #a2d2ff;
    gap: 27px;
}

.wrapper-money {
    display: flex;
    align-items: center;
    gap: 16px;
}

.offer-text-money {
    font-size: 64px;
}

.offer-text-money1 {
    font-size: 22px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.list-container {
    display: flex;
}

.offer-list {
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */

}


.text-container2 {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #ffc8dd;
    gap: 27px;
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
}

/* .list-of-benefits {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
} */



.text-container3 {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #ffc8dd;
    gap: 27px;
}


.list-of-benefits {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.call-to-action-button {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #168aad;
    background: #168aad;
    color: #F6FDFF;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.offer-list li {
    text-decoration: none;

}

.test-button {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.call-to-action-mail {
    text-transform: uppercase;
    display: flex;
    padding: 18px 22px;
    justify-content: flex-end;
    gap: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #7F828A;
    margin-top: 196px;
}

.footer-container {
    display: flex;
    width: 1296px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: #F5F7F9;
}

.footer-images {
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.rights {
    display: flex;
    text-align: right;
    color: #7F828A;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%
}